@model IEnumerable<EMSProject.Models.Employees>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover" id="MyTable">
    <p class="text-center text-success">@TempData["error"]</p>

    <tr>
        <th>Name</th>
        <th>LName</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Image</th>
        <th>Status</th>
        <th>Actions</th>

    </tr>
    @foreach (var emps in Model)
    {
        <tr>


            <td> @emps.FirstName</td>
            <td>@emps.LastName</td>
            <td>@emps.Email</td>
            <td>@emps.Mobile</td>
            <td>@emps.Image</td>
            <td>@emps.IsActive</td>
            <td>
                <a asp-action="Edit" asp-controller="Employee" asp-route-id="@emps.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-controller="Employee" asp-route-id="@emps.Id" class="btn btn-primary">Delete</a>
                <a asp-action="Details" asp-controller="Employee" asp-route-id="@emps.Id" class="btn btn-primary">Details</a>
            </td>

        </tr>
    }
</table>
@section scripts{

    <script type="text/javascript"></script>
    <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
VV
    <script>
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });</script>

}
